@{
    ViewBag.Title = "MVC Custom Route";
}

<div class="jumbotron">
    <h1>MVC Custom Route </h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">

            <a href="/City/Ahmedabad">/City/Ahmedabad</a>
      
        </div>
    </div>
</div>